<br>
<br>
<div class="card" id="result">
    <div class="card-header bg-secondary">
        <h2 class="text-center">Result</h2>
        <div class="card-body bg-light">
            <h5 class="card-title"> <%=message%> </h5>
            <h5 class="card-title"> <%=extra%> </h5>
        </div>
    </div>
</div>